<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Images/logoweb.png') }}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <title>Recycle Rush</title>
</head>

<body>
  <section>
    <nav>
      <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='Images/logo.png') }}" alt="Logo"></a>
      
        <ul id="nav-list">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('recy') }}">Recycling</a></li>  
          <li><a href="{{ url_for('more') }}">Learn More</a></li>
          <li><a href="{{ url_for('about') }}">About Us</a></li>
        </ul>
    </nav>
    <div class="{{ url_for('static', filename='Images/image-container') }}"></div>
  </section>
  
    <div class = "scanf">
      <form action="{{ url_for('control_led') }}" class = "classform" method="post">
        <video id="video" width="640" height="480" autoplay></video>
        <br>
        <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
        <br>
        <input type="hidden" name="image" id="image" value="">
        <button class = "scannerbtn" type="button" onclick="captureImageAndPredict()"><img src="{{ url_for('static', filename='Images/camera.png') }}" style="width: 70px; height: 40px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" alt="Camera Icon"></button>
        
      </form>
      <br>
      
    <script>
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
            })
            .catch(function(err) {
                console.error('An error occurred: ' + err);
            });
    </script>
    <script>
        function captureImageAndPredict() {
            var video = document.getElementById('video');
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            var dataURL = canvas.toDataURL('image/jpeg');
            document.getElementById('image').value = dataURL;

            // Submit the form after capturing the image
            document.forms[0].submit();

        }
    </script>
          
          
        </div>

        <div style="position: absolute; background-color: rgba(99, 99, 99, 0.2); right: 2%; width: 300px; top: 55%; transform: translateY(-50%); margin-left: 0px; padding: 20px; border-radius: 15px;">
          <p style="text-align:justify;"><br><br><br><br><br><br>Let's see how fast you are!<br><br>Place your waste items in front of the screen and click on the camera button.<br><br>As soon as the light illuminates, place your item in the corresponding bin.<br><br>Blue is Trash.<br>Red is Cardboard.<br>Orange is Metal.</p>
          {% if responseTime %}
            <p style="font-size: 15px; margin-top: 20px; margin-bottom: 10px; box-shadow: 10px; padding: 10px;">Prediction : {{ prediction }} <br><br>Response Time: {{ responseTime }} s</p>
          {% else %}
            <p>Response Time not available</p>
          {% endif %}
        </div>
    
        
    
    

  <section id="footer">
    <div class="container">
      <ul class="copyright">
        <li>Recycling is more than a task—it's our duty to the Earth. By recycling, we reduce waste, save resources, and minimize pollution. Let's commit to a greener future, one recycled item at a time. Together, we can make a lasting impact.</a></li>
      </ul>
    </div>
  </section>
  

</body>
</html>
